version: "3.9"
services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fastapi_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  app:
    build: .
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/fastapi_db
      SECRET_KEY: change_me_in_prod
      AUTO_CREATE_DB: "false"
      ALLOWED_ORIGINS: '["*"]'
    depends_on:
      - db
    ports:
      - "8000:8000"
volumes:
  pgdata:
